ul{
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.bread__crumb-container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1400px){
    .bread__crumb-container{
        width:1430px !important;
    }
}

/* @media (min-width: 1200px){
    .bread__crumb-container{
        width:1200px !important;
    }
}

@media (min-width: 1025px){
    .bread__crumb-container{
        width:970px !important;
    }
}

@media (min-width: 768px){
    .bread__crumb-container{
        width:750px !important;
    }
} */

.breadcrumb.v2 {
    margin:34px 0;
}

.breadcrumb{
    list-style: none;
    border-radius: 4px;
}

.breadcrumb>li+li::before{
    content: "\f105";
    font-family: "FontAwesome", sans-serif;
    padding: 0 10px;
    color: #888;
}

.breadcrumb > li {
    display: inline-block;
    font-size: 13px;
}

.breadcrumb > li a{
    color:#888;
    font-size: 13px;
}

.active{
    color:rgb(10,58,50);
    text-transform: capitalize;
}

.breadcrumb > .active {
    font-weight: 600;
}