
.home__container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: auto;
}



.align__flex{
    display: flex;
}



@media (max-width:600px){
    .align__flex{
        display:block !important;
    }
}